.field-cg-issue {
padding-left: 35px;
background-image: url('http://epsilon.mnn.org/icon_info.png') ; 

} 

.field-cg-meet {
padding-left: 35px;
background-image: url('http://epsilon.mnn.org/icon_info.png') ; 
}

.field-cg-address {
padding-left: 35px;
background-image: url('http://epsilon.mnn.org/icon_info.png') ; 
}

.field-cg-websitelink {
padding-left: 35px;
background-image: url('http://epsilon.mnn.org/icon_info.png') ; 
}

.field-cg-contact-firstname {
padding-left: 35px;
background-image: url('http://epsilon.mnn.org/icon_info.png') ; 
} 

.field-cg-contact-emal {
padding-left: 35px;
background-image: url('http://epsilon.mnn.org/icon_info.png') ; 
}


.field-cg-contact-phone {
padding-left: 35px;
background-image: url('http://epsilon.mnn.org/icon_info.png') ; 
}

.field-cg-contact-fax {
padding-left: 35px;
background-image: url('http://epsilon.mnn.org/icon_info.png') ; 
}

