.field-field-cg-issue {
padding-left: 35px;
background-image: url('images/group_icons/icon_info.png') ; 
background-position: 20px 20px  ;
background-repeat: no-repeat;
} 
.field-field-cg-year {
padding-left: 35px;
// background-image: url('images/group_icons/icon_calendar.png') ; 
background-position: 20px 20px  ;
background-repeat: no-repeat;
}
.field-field-cg-address {
padding-left: 35px;
background-image: url('images/group_icons/icon_bigmarker.png') ; 
background-position: 20px 20px  ;
background-repeat: no-repeat;
}
.field-field-cg-meet {
padding-left: 35px;
background-image: url('images/group_icons/icon_calendar.png') ; 
background-position: 20px 20px  ;
background-repeat: no-repeat;
}
.field-field-cg-websitelink {
padding-left: 35px;
background-image: url('images/group_icons/icon_globe.png') ; 
background-position: 20px 20px  ;
background-repeat: no-repeat;
}
.field-field-contact-firstname {
padding-left: 35px;
background-image: url('images/group_icons/icon_user.png') ; 
background-position: 20px 20px ;
background-repeat: no-repeat;
} 
.field-field-cg-contact-email {
padding-left: 35px;
background-image: url('images/group_icons/icon_bigenvelope.png') ; 
background-position: 20px 20px  ;
background-repeat: no-repeat;
}
.field-field-cg-contact-phone {
padding-left: 35px;
background-image: url('images/group_icons/icon_phone.png') ; 
background-position: 20px 20px  ;
background-repeat: no-repeat;
}
.field-field-cg-contact-fax {
padding-left: 35px;
background-image: url('images/group_icons/icon_fax.png') ; 
background-position: 20px 20px  ;
background-repeat: no-repeat;
}

footer.block h2 {
visibility: collapse ;
display: none; 
}


// html5 override styles listed last
nav {
margin-top: -28px ;
}
.field {
background-color: #E1E0D6 ;
border-bottom: 1px solid #D8D6CA ;
clear: left ;
margin-left: 0 ;
min-height: 30px ;
padding: 15px 15px 15px 15px ; 
padding: 3% ; 
width: 92% ;
}
#partners {
text-align: auto ;
}
ul { 
margin: auto ; 
}

li {
text-decoration: none ; 
list-style-type: none ; 
}
#partners li {
margin: 20px 20px 20px 20px ; 
float: left ; 
}


.field-field-cg-year {
background-color: #F0EFE9 ; 
border-bottom: none ; 
padding-left: 0px ; 
}
.field-field-cg-mission {
background-color: #F0EFE9 ; 
border-bottom: none ; 
padding-left: 0px ; 
}
.field-field-text {
margin-left: 50px ; 
}

.field-field-cg-mission.field-label {
font-size: 30px ; 
}
.field-field-cg-mission field-label {
font-size: 30px ; 
}
h2 {
font-weight: bold ;
}
.block-block {
border: 0px solid #E1E0D6; 
margin-bottom: 30px ;
text-align: left ; 
}
.field-label-inline-first {
margin-left: 50px ;
}
.views-label-title, .views-label-teaser {
display: none ; 
}
.subpage views-field-title {
font-weight: 20px ;
}
.content {
float: right ; 
}
.terms-inline {
display: none ; 
} 


