/* 
  HTML5 ✰ Boilerplate 
  
  style.css contains a reset, font normalization and some base styles.
  
  credit is left where credit is due.
  much inspiration was taken from these projects:
    yui.yahooapis.com/2.8.1/build/base/base.css
    camendesign.com/design/
    praegnanz.de/weblog/htmlcssjs-kickstart
*/

/* 
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display:block;
}

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }

/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }

/* END RESET CSS */


/* fonts.css from the YUI Library: developer.yahoo.com/yui/
   Refer to developer.yahoo.com/yui/3/cssfonts/ for font sizing percentages

  There are three custom edits:
   * remove arial, helvetica from explicit font stack
   * we normalize monospace styles ourselves
   * table font-size is reset in the HTML5 reset above so there is no need to repeat
*/
body { font:13px/1.231 sans-serif; *font-size:small; } /* hack retained to preserve specificity */

select, input, textarea, button, learnmore_button { font:99% sans-serif; }

/* normalize monospace sizing 
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
 */
pre, code, kbd, samp { font-family: monospace, sans-serif; }
 

/* 
 * minimal base styles 
 */


body, select, input, textarea { 
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */ 
  color: #444; 
  /* set your base font here, to apply evenly */
  /* font-family: Georgia, serif;  */   
}

/* Headers (h1,h2,etc) have no default font-size or margin,
   you'll want to define those yourself. */ 
h1,h2,h3,h4,h5,h6 { font-weight: bold; }

/* always force a scrollbar in non-IE */ 
html { overflow-y: scroll; }

 
/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

a, a:active, a:visited { color: #0776bd;text-decoration:none; }
a:hover { color: #005e9a; text-decoration:underline; }


ul, ol { margin-left: 0; }
ol { list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; } 

small { font-size: 85%; }
strong, th { font-weight: bold; }

td, td img { vertical-align: top; } 

sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

pre { 
  padding: 15px; 
  
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}
 
textarea { overflow: auto; } /* thnx ivannikolic! www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px; } /* thnx ivannikolic! */

/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button, learnmore_button { cursor: pointer; }
 
/* webkit browsers add a 2px margin outside the chrome of form elements */  
button, input, select, textarea { margin: 0; }

/* colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { 
      border-radius: 1px;
    -moz-box-shadow: 0px 0px 5px red; 
 -webkit-box-shadow: 0px 0px 5px red; 
         box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }


/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301 
   Also: hot pink. */
::-moz-selection{ background: #0e75bb; color:#fff; text-shadow: none; }
::selection { background:#0e75bb; color:#fff; text-shadow: none; } 

/*  j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; } 

/* make buttons play nice in IE:    
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }
 
/* bicubic resizing for non-native sized img: 
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }



/* 
 * Non-semantic helper classes 
 */

/* for image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
/* for overriding previous
.ir { text-indent: 0; vertical-align:text-bottom; } 

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; } 

/* Hide only visually, but have it available for screenreaders 
   www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  */
.visuallyhidden { position: absolute !important;    
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .clearfix:after {
  content: "\0020"; display: block; height: 0; visibility: hidden;	
} 

.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }
.clearfix { height: 0;
			clear:both;
	 }


 /* Primary Styles
    Author: Adda Birnir / Balance Cooperative
 */


/* ---------------------------------------------------------------------------------------------------
Structural Elements
----------------------------------------------------------------------------------------------------*/


body {
	text-align:center;
	font-size:14px;
	color:#464646;
	font-family:arial;
}

#container {
    background-color: #f0efe9;
    margin: auto;
    text-align: center;
}

#containeremail{
    background-color: white;
    margin: auto;
    text-align: center;
}

#containeremail #header {
	border-bottom:1px solid #7b8a88;
}

/* Main Class centers the structure & keeps it within 960px but also allows the site to be responsive */

.main {
	max-width:940px;
	padding-left:10px;
	padding-right:10px;
	margin:auto;
	clear: left;
}

/* We use the #header class to act as the <header> tag for Drupal */
/* (although technically this is a div, not a class */
#header {
	min-height: 134px;
	margin-top:0;
	background-color:white;
	width:100%;
}

#hero, #subpage_hero {
	border-top:1px solid #7b8a88;
	border-bottom:1px solid #7b8a88;
	background-color:#c8dade;
	margin-top:0px;
}

#footer {
	min-height:528px;
	background-color:#004f7e;
	color:white;
}

#sub_footer {
min-height:320px;
background-color:#076ead;
-moz-box-shadow: -5px 8px 9px -4px #003F69;
-webkit-box-shadow:-5px 8px 9px -4px #003F69;
box-shadow:-5px 8px 9px -4px #003F69;	
text-align:left;
}

#community, #content {
	padding-bottom:40px;
}


/* ---------------------------------------------------------------------------------------------------
Header Styles
----------------------------------------------------------------------------------------------------*/

h1, h2, h3, h5 {
	font-family: 'Yanone Kaffeesatz', impact;
	font-weight:bold;
	text-transform:uppercase;
}


h2 {
	color: #4E6A6D;
    font-size: 45px;
    line-height: 100%;
}

h3 {
	color:#dc4826;
	text-shadow: -3px 3px #FFC4B6;
	font-size:33px;
}

h4 {
	font-family: arial;
	font-weight:bold;
}

#container h4 > a {
	font-weight:bold;
	text-decoration:none;	
}

h5 {
	text-shadow: 0 -2px #055788;
	color:white;
	font-size:24px;
	letter-spacing:0.5px;
	
}

/* Texture -- Gives the whole website that texture */

.texture {
	background:url('images/texture.png');
	width:100%;
}

/* ---------------------------------------------------------------------------------------------------
Button Styles
----------------------------------------------------------------------------------------------------*/

.button, .learnmore_button {
    -moz-border-radius: 7px 7px 7px 7px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 -1px 0 #003B60;
}

.button a {
	color:white;
	text-decoration:none;
	float:left;
	text-shadow:0 -1px 0px #003B60;
}

.button:hover {
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.42, rgb(4,137,226)),
	    color-stop(0.71, rgb(7,120,190))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(4,137,226) 42%,
	    rgb(7,120,190) 71%
	);
	background-color:#0777bf;
}

/* ---------------------------------------------------------------------------------------------------
Header Styles
----------------------------------------------------------------------------------------------------*/
/*We use the #header class to act as the <header> tag for Drupal
(although technically this is a div, not a class*/
#header {
    min-height: 134px;
    margin-top: 0;
    background-color: #FFFFFF;
    width: 100%;
    position: relative;
}

#header h1 {
//	background:url('images/logo.png') no-repeat;
	float:left;
	margin-top: 10px;
    min-height: 130px;
    min-width: 476px;
}

.irk span {
	float: left;
    font-size: 12px;
    line-height: 16px;
    padding-top: 86px;
    width: 240px;
}

.irk img {
	float:left;
}

.irk a {
    color: #464646;
    float: left;
    font-family: arial;
    font-size: 14px;
    text-align: left;
    text-transform: none;
    vertical-align: text-bottom;
}

.irk a:hover {
	text-decoration:none;
}

#header #page_searchform {
	float:right;
	background-color:#b6c5c1;
	-moz-border-radius:0px 0px 5px 5px;
	-webkit-border-radius:0px 0px 5px 5px;
	border-radius:0px 0px 5px 5px;
	width:290px;
	padding:6px 2px 7px;
	 height: 31px;
}

#header #page_searchform #edit-submit {
	display:none;
}

#header #page_searchform input[type="text"] {
    -moz-border-radius: 3px 3px 3px 3px;
    background: url("images/icon_search.png") no-repeat scroll 2px 6px white;
    border: 1px solid white;
    color: #666666;
    font-size: 13px;
    height: 21px;
    padding: 4px 3px 3px 26px;
    width: 249px;
}

#header #page_searchform .form-item {
    margin-bottom: 0;
    margin-top: 0;
}
/* only links should be 0776BD not all text elements in nav */
nav {
    color: #464646 ;
    float: right;
    font-family: 'Yanone Kaffeesatz', impact;
    font-size: 22px;
max-width: 425px;
text-transform: uppercase;
width: 100%;
  margin-bottom: 0;
margin-top:34px;
}


nav ul {
	width:100%;
	margin-bottom:0;
	padding-bottom:0;
}

nav ul li {
	margin-bottom:0;
	float:left;
    padding-bottom: 15px;
    padding-top: 12px;
	border-top:1px solid #7b8a88;
	border-left:1px solid #7b8a88;
	border-right:1px solid #7b8a88;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.2, rgb(255,255,255)),
	    color-stop(0.6, rgb(243,243,243))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(255,255,255) 20%,
	    rgb(243,243,243) 60%
	);
	background-color:#f9f9f9;
	margin-left:1px;
	margin-right:1px;
	margin-top:14px;
	}
	
	#header nav ul li {
		width: 32%;
			font-weight:bold;
			text-transform:uppercase;
	
}

#header ul#nice-menu-1 > li.last > ul {
	    background: none repeat scroll 0 0 white;
	    border-bottom: 1px solid #7B8A88;
	    border-left: 1px solid #7B8A88;
	    border-right: 1px solid #7B8A88;
	    margin-left: -137px;
	    margin-top: 15px;
	    max-width: 272px;
	    text-align: left;
	    width: 200%;
	}
	
	
ul.nice-menu {
	    position: relative;
	    z-index: 110;
	}

ul.nice-menu ul {
	z-index:5;
}

#learn_topnav a {
	padding-left:30px;
	padding-right:30px;
}

nav ul li a:hover {
	text-decoration:none;
}

#header ul.links {
margin-bottom: 0;
   padding-bottom: 0;
   width: 100%;
}


ul.links li {
    display: inline;
    list-style-type: none;
    padding-bottom: 15px;
    padding-top: 12px;
}

#hero nav ul li {
    -moz-border-radius: 5px 5px 5px 5px;
    background-image: -moz-linear-gradient(center bottom , #CBD3D2 20%, #DEE6E6 60%);
    border: 1px solid #90A09D;
    float: left;
    padding: 0;
}

nav ul li.over {
background:white;
}


#header ul#nice-menu-1 > li > ul > li > ul > li > a {
color:#328fc3;
font-weight:normal;
text-transform:none;
border-top:none;
}

#header ul#nice-menu-1 > li > ul > li {
    background: none repeat scroll 0 0 white;
    border: medium none;
    float: none;
    margin-left: 0;
    padding: 5px 4px;
    text-align: left;
    width: 96%;
    border-top: 1px dotted #6B6B6B;
	min-height:20px;
}

#header ul#nice-menu-1 > li > ul > li > a {
    color: #464646;
    float: left;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    padding-top: 5px;
padding-bottom:5px;
    text-decoration: none;
    text-transform: uppercase;
}


#header ul#nice-menu-1 > li > ul {
    background: none repeat scroll 0 0 white;
    border-bottom: 1px solid #7B8A88;
    border-left: 1px solid #7B8A88;
    border-right: 1px solid #7B8A88;
    margin-left: -1px;
    margin-top: 15px;
    max-width: 272px;
    text-align: left;
    width: 200%;
-moz-box-shadow:1px 4px 5px #9fa9a7;
-webkit-box-shadow:1px 4px 5px #9fa9a7;
box-shadow:1px 4px 5px #9fa9a7;
-ms-box-shadow:1px 4px 5px #9fa9a7;
-o-box-shadow:1px 4px 5px #9fa9a7;
z-index:0;
}

#search-box {

}

#header li a.active {
    color: #0776BD;
}


/* ---------------------------------------------------------------------------------------------------
Homepage Hero Styles
----------------------------------------------------------------------------------------------------*/

#hero {
	min-height:354px;
}

#hero_background {
    background: url("images/skyline.png") no-repeat scroll 0 16px transparent;
    margin: auto;
    max-width: 1287px;
    min-height: 354px;
	vertical-align:bottom;
}

.hero_media {
    border: 6px solid white;
    float: left;
    height: auto;
    margin-right: 3%;
    margin-top: 20px;
    max-height: 302px;
    max-width: 548px;
    min-width: 240px;
    overflow: hidden;
    width: 95%;
}

.hero_text {
	float:left;
	clear: right;
	max-width:348px;
	text-align:left;
	margin-top: 30px;
	width:100%;
}

#hero nav {
    position: absolute;
    right: 10px;
    top: 0;
    z-index: 1;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 5px;
    width: 37%;
}

#hero nav ul {
	float: left;
    width: 100%;
}

#hero nav ul li {
	 float: right;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-border-radius:5px;
	padding:0px;
	border:1px solid #90a09d;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.2, rgb(203,211,210)),
	    color-stop(0.6, rgb(222,230,230))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(203,211,210) 20%,
	    rgb(222,230,230) 60%
	);
	
}

#hero nav ul li a {
	float: left;
     padding: 5px 10px;
}

#hero nav ul li.active, #hero nav ul li:hover {
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.2, rgb(218,218,218)),
	    color-stop(0.6, rgb(254,254,254))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(218,218,218) 20%,
	    rgb(254,254,254) 60%
	);
	
}



.hero_text p {
	padding-top:20px;
	padding-bottom:20px;
}

#hero .button {
	-moz-border-radius:7px;
	-o-border-radius:7px;
	border-radius:7px;
	-webkit-border-radius:7px;
	-ms-border-radius:7px;
	margin-bottom:20px;
	border-bottom:1px solid #6e7b7d;
	border-top:1px solid #8a9699;
	border-left:1px solid #798688;
	border-right:1px solid #798688;
	height:48px;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.2, rgb(2,155,250)),
	    color-stop(0.6, rgb(75,186,255))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(2,155,250) 20%,
	    rgb(75,186,255) 60%
	);
		background-color:#27a9fd;
		float:left;
		font-size:16px;
}

#hero .button a {
	color:white;
	text-decoration:none;
	padding:14px 35px;
	float:left;
}

#hero .button:hover {
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.2, rgb(75,186,255)),
	    color-stop(0.6, rgb(2,155,250))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(75,186,255) 20%,
	    rgb(2,155,250) 60%
	);
	background-color:#27a9fd;
}


/* ---------------------------------------------------------------------------------------------------
Homepage - Community Section Styles
----------------------------------------------------------------------------------------------------*/

#community {
	text-align:left;
}

#community .main, #sub_footer .main {
	padding-top:40px;
	padding-bottom:40px;
}

#community h3, #content h3 {
	float:left;
	margin-right: 4.2%;
}

#community h3 {
	margin-bottom:20px;
    width: 100%;
}

h3 img {
	float:left;
	padding:6px 12px 0 0;
}

/* ---------------------------------------------------------------------------------------------------
Homepage - Map/Geolocation Styles
----------------------------------------------------------------------------------------------------*/

#communitylist {
	min-height:845px;
	max-width:469px;
	clear: left;
	background-color: #E1E0D6;
    border: 1px solid #D8D6CA;
    float: left;
    min-width: 240px;
    width: 100%;
}

#geolocation {
	border-radius:5px;
	-webkit-border-radius:5px;
	background-color:white;
	-moz-box-shadow: 0 0px 7px 1px #a4a49f;
	-webkit-box-shadow: 0 0px 7px 1px #a4a49f;
	box-shadow: 0 0px 7px 1px #a4a49f;
	-moz-border-radius: 5px 5px 5px 5px;
    -moz-box-shadow: 0 0 7px 1px #A4A49F;
    background-color: white;
    float: left;
    margin: 3% 0 3% 3%;
    padding: 14px;
    width: 87%;
}

#geolocation p {
	float:left;
	width:95%;
	margin-left:2%;
	 min-width: 240px;
}

#statement span {
	font-weight:bold;
	color:#dc4826;
}

#geolocation img {
	float:left;
}

div#communityboards {
	clear:left;
	width:100%;
}

.viewcommunity, .forum_link {
	border-radius:15px;
	-webkit-border-radius:15px;
    -moz-border-radius: 15px 15px 15px 15px;
    background-color: #0776BD;
    float: left;
    font-size: 12px;
    padding-bottom: 3px;
    padding-top: 2px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 0px #59584D;
font-weight:bold;
}

.viewcommunity {
		background-color:#0776bd;
		min-width: 150px;
	    width: 37%;
	    margin-left: 4%;
	    margin-top: 2%;
}

.viewcommunity a, .forum_link a {
	color:white;
	text-decoration:none;
}

.forum_link {
	background-color:#797769;
	float:right;
	margin-top:7px;
}

.forum_link a {
	padding:0px 8px 1px;
	float:left;
}

#subpage_content .forum_link, #subpage_content .forum_link a {
	float:none;
}


#subpage_content .forum_link{
    margin-left: 10px;
}

#communityboards h4 {
margin-left: -1px;
padding: 1% 1.5% 1% 2%;
margin-top: 10px;
text-transform:uppercase;
font-size:14px;
text-shadow: 0px -2px 1px #313131;
    width: 97%;
 background-color: #464646;
 font-size: 16px;
    letter-spacing: 0.5px;
}

#communityboards h4 a, #content h4 a {
	color:white;
}

#communityboards p {
	margin-left:3%;
}

#communityboards ul li p a {
  padding-bottom: 11px;
    padding-right: 15px;
    padding-top: 20px;
}

#communitylist ul {
	clear:left;
	list-style-type:none;
	width:100%;
	min-width:240px;
	max-width:469px;
}

#communitylist ul li {
	border-top:1px solid #d8d6ca;
	width:96%;
	padding:2%;
	float:left;
	min-height: 33px;
}

#communitylist ul li > p {
	float:left;
	max-width:200px;
	width:60%;
	margin-top: 7px;
}

#communitylist ul li > p a:hover {
	text-decoration:none;
}

.selectedcb, #communitylist li:hover, #groupsnear ul li:hover {
	background-color:#cecdc5;
}
#groupinfo ul li:hover {
	background-color:#cecdc5;
}

.numbers {
	border-radius:30px;
	-moz-border-radius:30px;
	background-color:#0776bd;
border:none;
	color: white;
    float: left;
    font-weight: bold;
    padding: 7px 0;
    text-align: center;
    width: 32px;
	text-shadow: 1px 0px 0px #065F99;
}

#map_canvas {
	width:100%;
	float:left;
    height: 845px;
    max-height: 845px;
	background-color:#b5b4aa;
	max-width:467px;
	min-width:240px;
	margin-bottom:45px;
	border:1px solid #D8D6CA;
}

/* ---------------------------------------------------------------------------------------------------
Homepage - Content Section Styles
----------------------------------------------------------------------------------------------------*/

#content .main {
	background:url('images/stitch.png') repeat-x; 
	padding-top:40px;
}

#content h3 {
	padding-bottom:20px;
    text-align: left;
    width: 100%;
}

#content .main > div, #subfooter .main > div {
	    float: left;
	    margin-right: 2%;
	    max-width: 300px;
	    text-align: left;
	    width: 100%;
}

#content .main > div {
	padding-bottom:20px;
}

#content .main > div img {
	padding-bottom:24px;
	padding-top:4px;
}

.more-content li {
margin-left: 13px;
padding-bottom:10px;
}

#learn_list {
	clear:left;
}

#content .main > div#takeaction_list {
	margin-right:0;
}

#content h4 {
    border-top: 4px solid #464646;
    min-height: 22px;
    padding-left: 3%;
	text-shadow: 0px -2px 1px #313131;
	    width: 97%;
	 background-color: #464646;
	 font-size: 16px;
	    letter-spacing: 0.5px;
}

#content .main > div#block-views-view_landing_takeaction-block_1 {
	margin-right:0;
}

/* ---------------------------------------------------------------------------------------------------
Footer Styles
----------------------------------------------------------------------------------------------------*/

#sub_footer .texture {
	padding-bottom:40px;
}

#sub_footer .main > div {
    float: left;
    margin-right: 1.4%;
    max-width: 300px;
    min-width: 240px;
    width: 100%;
		color:#f0efe9;
		text-shadow: 2px -1px 0px #055e92;
		margin-bottom:30px;
		
}

#sub_footer p {
	line-height:1.4;
	margin-top: 0px;
	margin-bottom: 10px;
}

#sub_footer ul {
	margin-top:16px;
	margin-left:14px;
}

#sub_footer ul li {
	padding-bottom:10px;
}

#sub_footer a {
	color:#b4e5ff;
	text-shadow: 2px -1px 0px #055e92;
}

#contactus ul {
	list-style-type:none;
	margin-left:0;
	margin-top: 22px;
}

#sub_footer .main .socialmedia {
	padding:10px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radiuse:5px;
	background-color:#00609d;
	border:1px solid #005489;
	width:70%;
	margin-top: 10px;
	float: left;
	font-size: 14px;
}

#sub_footer .main .socialmedia:hover {
	background-color:#4195cb;
}


#sub_footer .main .socialmedia a {
	color:white;
	font-weight:bold;
	  padding-top: 6px;
	float:left;
	padding-left: 10px;
	max-width: 180px;
}

#sub_footer .main .socialmedia a:hover {
	text-decoration:none;
}

#sub_footer .main .socialmedia #facebook {
	padding-left:15px;
}

.socialmedia img {
	float:left;
}

#signup {
	margin-right:0;
}

#signupform > div {
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-border-radius:5px;
	background:#00609d;
	float:left;
	padding:5px;
		margin-top:10px;
		margin-bottom:5px;
}

#signup input[type="text"] {
	width:175px;
	padding:2px;
	font-weight:bold;
	font-size:12px;
	border:medium none;

}

#signup .button {
		padding:10px 30px;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.2, rgb(2,155,250)),
	    color-stop(0.6, rgb(75,186,255))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(2,155,250) 20%,
	    rgb(75,186,255) 60%
	);
		background-color:#27a9fd;
}

#signup .button:hover {
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.2, rgb(75,186,255)),
	    color-stop(0.6, rgb(2,155,250))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(75,186,255) 20%,
	    rgb(2,155,250) 60%
	);
	background-color:#27a9fd;
}


#sub_footer h5 > img {
	float:left;
	padding-right:10px;
	padding-top: 4px;
}

#footer > div > div.main > ul {
	list-style-type:none;
	float: left;
}

#footer > div > div.main > ul li {
	float:left;
	padding:24px 28px;
}

#footer > div > div.main > h6 {
	text-transform:uppercase;
}


#footer #mnn {
	padding-top:38px;
}

#footer #openplans {
	padding-top:32px;
}

#footer #nycwiki {
	padding-top:42px;
}

#footer #clickfix {
	padding-top: 41px;
}

#footer .main p.copy {
    clear: left;
    float: left;
    font-size: 12px;
    padding-bottom: 10px;
    text-align: left;
    width: 50%;
	padding-top:5px;
}

#balance {
    float: right;
    font-size: 12px;
    text-align: right;
    width: 35%;
}

#balance img {
	float:left;
}

#balance p {
	float: left;
    padding-right: 6px;
    padding-top: 4px;
}



/* ---------------------------------------------------------------------------------------------------
Sub Pages
----------------------------------------------------------------------------------------------------*/


#subpage {
	padding-bottom: 45px;
	min-height:300px;
}

#subpage nav {
	width:240px;
	float:left;
	text-align:left;
	margin-top: 20px;
	padding-right: 8%;
    
}

#subpage nav ul {
	width:100%;
	margin-left:0;
	border-top:1px solid #cdcdcd;
}

#subpage nav ul li {
	border-top:1px solid #f5f4f1;
	border-bottom:1px solid #cdcdcd;
	background:none;
	border-left:0;
	border-right:0;
	font-size:14px;
	color:#464646;
    padding: 4%;
    text-transform: none;
    width: 92%;
	margin:0;
	max-width:232px;
	font-family:arial;
}

#subpage_content {
    float: left;
    text-align: left;
    text-align: left;
    width: 100%;
	max-width:620px;
	margin-top: 0px;
}


/* Sub Page Hero */

.subpage_header {
padding: 42px 0;
}

#learn_header {
	background:url('images/learn_subpage.png') no-repeat 160px 8px;
}

#connect_header {
	background:url("images/connect_subpage.png") no-repeat scroll 75px 0 transparent;
}

#takeaction_header {
	background:url('images/takeaction_subpage.png') no-repeat 160px 8px;
}

#subpage_hero .main {
	background:url('images/subpage_skyline.png') no-repeat 130px 0px;
}

#subpage_hero h2 {
	color:#4e6a6d;
	font-size:60px;
	text-shadow:-4px 3px 0 #D7E9E7;
	text-align:left;
}

/* ---------------------------------------------------------------------------------------------------
Subpage Content
----------------------------------------------------------------------------------------------------*/


#subpage_content h3, #forums h3 {
	font-family:arial;
	color:#464646;
	text-shadow:none;
	font-weight:bold;
	margin-bottom: 10px;
	text-transform:none;
	max-width:530px;
}

#subpage_content h3 {
		font-size:32px;
}

#forums h3 {
	font-size:22px;
}

#subpage h4 {
	font-family:arial;
	font-size:20px;
	font-weight:bold;
}

.content_page, .item-list li {
	width:100%;
	background:url('images/stitch.png') repeat-x; 
    float: left;
    padding-bottom: 40px;
    padding-top: 40px;
	list-style-type: none ; 
	list-style: none ; 
}
/* reduced top padding and  margins for views display */
.item-list ul, content_img li { 
	list-style-type: none ; 
	list-style: none ; 
	margin-top: 0x ; 
	margin-bottom: 15px ;
	padding-top: 0px ; 
}
.item-list {
	background-color:#e1e0d6;
	float:left;
	border:1px solid #d8d6ca;
	width:100%;	
	min-width:240px;
	background:url('') ; 
    padding-bottom: 0px;
    padding-top: 0px;

}

.cb_group_list {
    background-color: #E1E0D6;
    border: 1px solid #D8D6CA;
    float: left;
    min-width: 240px;
    width: 100%;
}

.views-row { 
	list-style-type: none ; 
} 	
.item-list { 
    padding-bottom: 0px;
    padding-top: 0px;
}
.content_page img {
	float:left;
	margin-right:20px;
}

.content_page p {
	float:left;
	width:100%;
}

#subpage #subpage_content p {
	font-size:13px;
	line-height:1.3;
	padding-top:10px;
	padding-bottom:10px;
}

#subpage #subpage_content > p {
	padding-top:10px;
	padding-bottom:20px;
}

#subpage #subpage_content img {
    -moz-box-shadow: 0 0 3px 1px #B7B5AF;
    border: 3px solid white;
    margin-bottom: -3px;
}

#subpage_content ul, #subpage_content ol {
	font-size:16px;
	margin-left:16px;
	line-height:1.3;
}

#subpage_content li, #groupsnear li {
    margin-left: -10px;
    padding-bottom: 10px;
    padding-top: 10px;
	width: 96%;
}
#subpage .node .content ul li {
	list-style-type: circle;
	margin-left: 20px;
	font-size: 13px;
}

.img_container {
	float:left;
	max-width: 174px;
    width: 31%;
	margin-right:20px;
	padding-bottom:100px;
}

#learnmore_button {
	float: right;
	clear: both;
}
.learnmore_button {
	float: left;
    margin-top: 10px;
}

#learnmore_button a {
	padding:12px 22px;
}

#subpage_content #page_searchform {
	width:100%;
	float:left;
}

#subpage_content #page_searchform > div {
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
    background-color: #C8C7BF;
    float: left;
    padding: 5px;
    width: 73%;
}

#page_searchform input[type="text"] {
	width:98%;
	height:32px;
	padding:5px;
	border:none;
}

#page_searchform input[type="submit"] {
    height: 50px;
    margin-left: 2%;
    padding: 5px;
    width: 23%;
}

/* ---------------------------------------------------------------------------------------------------
Community Board Pages
----------------------------------------------------------------------------------------------------*/

#groupinfo #cb_group_list p {
	width:80%;
}

#groupinfo #cb_group_list li {
    padding: 3% 3% 1%;
}

#groupinfo #cb_group_list .icon {
	width:60px;
	height:60px;
	padding-right:0;
}

/* Forums */

/* bottom padding reduced from 45px to 0 for beta Drupal layout */
#forums {
	background:white;
	padding-bottom: 0px;
	border-top:1px solid #d9d8d3;
}

/* forum header needs to be a class not a div */
#forum_header {
	text-align:left;
	padding-top:34px;
	min-height: 120px;
	background:url("images/haveyoursay.png") no-repeat scroll 262px 64px transparent;
	min-width:420px;
}

#forums h2 {
	color:#464646;
	text-shadow:none;
	text-align: left;
	margin-top: 25px
}

/* added min-height for beta drupal layout */
#forums .main {
	background:url('images/forum_skyline.png') no-repeat;
	background-position:470px 8px;
	overflow:hidden;
	min-height: 180px ; 
}

/* ---------------------------------------------------------------------------------------------------
Individual Group Pages
----------------------------------------------------------------------------------------------------*/
/* took out padding-bottom45px for section#group so footer & forumfooter touch */
#group {
	padding-bottom:auto;
}

#group #subpage_content, #groupsnear {
    float: left;
    text-align: left;
    padding-left: 0%;
    text-align: left;
    width: 100%;
margin-top: 10px;
padding-right:20px;
max-width:620px;
min-width:240px;
}

#group h3 img {
 padding: 0 16px 0 0;
}

#group .breadcrumbs {
    background: url("images/stitch.png") repeat-x scroll 0 46px transparent;
    text-align: left;
    width: 100%;
}

#group .groupinfo {
	margin-top:26px;
	font-weight:bold;
	padding-top:0;
}

#groupinfo {
	border-bottom:none;
	margin-top:10px;
	margin-bottom:20px;
}

#groupinfo ul {
	list-style: none outside none;
    margin-left: 0;
    width: 100%;
}

#groupinfo ul li, #groupsnear ul li {
    border-bottom: 1px solid #D8D6CA;
    clear: left;
    margin-left: 0;
    padding: 3%;
    width: 94%;
min-height:30px;
float: left;
background: #E1E0D6 ;

}

#groupinfo ul li img, #groupinfo ul li p {
	float:left;
}

#groupinfo ul li p {
	width:50%;
	padding:0;
}

#groupinfo h5 {
	width:30%;
	float:left;
	text-shadow:none;
	color:#464646;
	font-family:arial;
	text-transform:none;
	font-size:14px;
		padding-top:4px;
}

#groupinfo .icon {
	width:36px;
	float:left;
	height:36px;
	    padding-right: 20px;
}

#group h4 {
	font-size:18px;
	margin-bottom: 5px;
	margin-top:20px;
}

#group p {
	padding-top:10px;
	padding-bottom:10px;
	line-height:1.3;
	width: 90%;
}

#groupsnear {
	background: url("images/stitch.png") repeat-x scroll 0 46px transparent;
    padding-top:60px;
margin-top:0;
}

#groupsnear ul {
	list-style-type:none;
	margin-left:0px;
	margin-top:0;
	border-bottom: medium none;
}


#groupsnear h4, #group #groupinfo h4 {
	width:98.9%;
	border-top: 4px solid #464646;
    min-height: 24px;
	padding-left: 1.5%;
    text-shadow: 0 -2px 1px #313131;
	 background-color: #464646;
	 font-size: 16px;
	    letter-spacing: 0.5px;
	color:white;
	margin-bottom:0;
}

/* ---------------------------------------------------------------------------------------------------
Group Sidebar
----------------------------------------------------------------------------------------------------*/


.group_sidebar {
	width:100%;
	min-width:240px;
	float:left;
	max-width:300px;
	text-align:left;
}
/* reduced top & bottom margins for beta layout */
.group_sidebar .button {
	margin-top:30px;
	max-width:300px;
	width:100%;
	min-height:65px;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.2, rgb(2,155,250)),
	    color-stop(0.6, rgb(75,186,255))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(2,155,250) 20%,
	    rgb(75,186,255) 60%
	);
		background-color:#27a9fd;
    border-color: #8A9699 #798688 #6E7B7D;
    border-style: solid;
    border-width: 1px;
    font-size: 18px;
    margin-bottom: 10px;
}


.group_sidebar .button:hover {
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.2, rgb(75,186,255)),
	    color-stop(0.6, rgb(2,155,250))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(75,186,255) 20%,
	    rgb(2,155,250) 60%
	);
	background-color:#27a9fd;
}


.group_sidebar .button a {
    float: left;
    padding: 10px 66px 0;
}

.group-additionalinfo {
	margin-top:20px;
	width:100%;
	font-weight: bold; 
}

#group .group_sidebar ul {
	list-style-type:none;
	width:90%;
	margin-top:10px;
}

#group .group_sidebar ul li {
padding-bottom:2px;
padding-top:2px;
}

.group_map {
	background-color:#898989;
	height:300px;
	margin-top:20px;
}

.affiliated_groups, .group_map, .group_includes {
	margin-top:30px;
	width:100%;
}

#group .group_sidebar h4 {
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: 30px;
}

#group .group_sidebar .group_socialmedia ul li {
clear:left;
padding-bottom: 4px;
   padding-top: 4px;
font-weight:bold;
}

#groupsnear ul li {
 padding: 3% 3% 1%;	
}

.group_socialmedia .icon {
	float:left;
	width: 26px;
	  padding: 1px;
}

#groupsnear .icon {
	width:60px;
	height:60px;
	float:left;
}

#group #groupsnear .cb_group_list p {
	 width: 96%;
	padding-top:0;
}
	

/* ---------------------------------------------------------------------------------------------------
Axel CSS
----------------------------------------------------------------------------------------------------*/

/* ---------------------------------------------------------------------------------------------------
	 accordion
----------------------------------------------------------------------------------------------------*/

li.accordion_heading a {
	color: #474745;
	font-weight: bold;
}

li.accordion_heading a.accordion_expanded {
	color: #090804;
}

#subpage li.sub_nav {
	display: none;
	padding: 4% 0;
	width: 238px;
}

#subpage .sub_nav > ul {
	border-top: none;
	padding: 0;
}

#subpage .sub_nav > ul > li {
	padding: 4% 0;
	float: left;
	text-indent: 4%;
	width: 100%;
}

#subpage .sub_nav > ul > li:first-child {
	border-top: none;
	padding-top: 0;
}

#subpage .sub_nav > ul > li:last-child {
	border-bottom: none;
	padding-bottom: 0;
}


/* ---------------------------------------------------------------------------------------------------
	 dropdown nav
----------------------------------------------------------------------------------------------------*/


.dropdown span {
	display: block;
	overflow: hidden;
}

.dropdown li {
	position: relative;
}

.dropdown_spacer {
	background: #fff; 
	display: none;
	position: absolute; 
	top: 54px;
	height: 6px;
	width: 100%;
}

.dropdown ul {
	background: #fff;
	display: none;
	position: absolute;
	top: 60px;
	z-index: 9999;
}

.dropdown ul li {
	background: #fff;
}

.dropdown li.dropdown_trigger:hover {
	background: #fff;
}

.dropdown li.dropdown_trigger:hover ul, 
.dropdown li.dropdown_trigger:hover .dropdown_spacer,
.dropdown li.dropdown_trigger:hover ul li div.pop_out ul {
	display: block;
}

li.dropdown_trigger ul {
	color: #464646;
	font-family: sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	width: 337px;
}

li.dropdown_trigger ul li {
	background: #fff;
	border: none;
	float: left;
	margin-right: 0;
}


/* ---------------------------------------------------------------------------------------------------
   bubble animation
----------------------------------------------------------------------------------------------------*/

#hero_background > .main {
	min-height: 354px;
	position: relative;
}

#bubble {
	display: none;
	min-height: 18px;
}


/* ---------------------------------------------------------------------------------------------------
   homepage carousel
----------------------------------------------------------------------------------------------------*/

.jcarousel-skin-tango .jcarousel-container {
	position: absolute !important;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  940px;
    min-height: 354px;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 940px;
    height: 354px;
}

.hero_text {
	margin-top: 65px;
}


/*
 * Media queries for responsive design
 * These follow after primary styles so they will successfully override. 
 */

@media all and (orientation:portrait) { 
  /* Style adjustments for portrait mode goes here */
  
}

@media all and (orientation:landscape) { 
  /* Style adjustments for landscape mode goes here */
  
}

/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)  
   Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
  
  
  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you
     j.mp/textsizeadjust 
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

/* 
 * print styles
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/ 
 */
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  /* Don't show links for img */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */ 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}



.field-field-cg-issue {
padding-left: 35px;
background-image: url('images/group_icons/icon_info.png') ; 
background-position: 20px 20px  ;
background-repeat: no-repeat;
} 
.field-field-cg-year {
padding-left: 35px;
// background-image: url('images/group_icons/icon_calendar.png') ; 
background-position: 20px 20px  ;
background-repeat: no-repeat;
}
.field-field-cg-address {
padding-left: 35px;
background-image: url('images/group_icons/icon_bigmarker.png') ; 
background-position: 20px 20px  ;
background-repeat: no-repeat;
}
.field-field-cg-meet {
padding-left: 35px;
background-image: url('images/group_icons/icon_calendar.png') ; 
background-position: 20px 20px  ;
background-repeat: no-repeat;
}
.field-field-cg-websitelink {
padding-left: 35px;
background-image: url('images/group_icons/icon_globe.png') ; 
background-position: 20px 20px  ;
background-repeat: no-repeat;
}
.field-field-firstlast-name {
padding-left: 35px;
background-image: url('images/group_icons/icon_user.png') ; 
background-position: 20px 20px ;
background-repeat: no-repeat;
} 
.field-field-cg-contact-email {
padding-left: 35px;
background-image: url('images/group_icons/icon_bigenvelope.png') ; 
background-position: 20px 20px  ;
background-repeat: no-repeat;
}
.field-field-cg-contact-phone {
padding-left: 35px;
background-image: url('images/group_icons/icon_phone.png') ; 
background-position: 20px 20px  ;
background-repeat: no-repeat;
}
.field-field-cg-contact-fax {
padding-left: 35px;
background-image: url('images/group_icons/icon_fax.png') ; 
background-position: 20px 20px  ;
background-repeat: no-repeat;
}

footer.block h2 {
visibility: collapse ;
display: none; 
}


// html5 override styles listed last

.field {
background-color: #E1E0D6 ;
border-bottom: 1px solid #D8D6CA ;
clear: left ;
margin-left: 0 ;
min-height: 30px ;
padding: 15px 15px 15px 15px ; 
padding: 3% ; 
width: 92% ;
}
#partners {
text-align: auto ;
}
ul { 
margin: auto ; 
}

li {
text-decoration: none ; 
list-style-type: none ; 
}
#partners li {
margin: 20px 20px 20px 20px ; 
float: left ; 
}

.field {
background-color: #E1E0D6 ;
border-bottom: 1px solid #D8D6CA ;
clear: left ;
margin-left: 0 ;
min-height: 30px ;
padding: 15px 15px 15px 15px ;
padding: 3% ;
width: 92% ;
}
.field-field-text {
margin-left: 50px ; 
}

.field-field-cg-year {
background-color: #F0EFE9 ; 
border-bottom: none ; 
padding-left: 0px ; 
}
.field-field-cg-year .field-label-inline-first {
margin-left:0px;
}
.field-field-cg-mission {
background-color: #F0EFE9 ; 
border-bottom: none ; 
padding-left: 0px ; 
}
.field-field-cg-mission.field-label {
font-size: 30px ; 
}
.field-field-cg-mission field-label {
font-size: 30px ; 
}


h2 {
font-weight: bold ;
}
.block-block {
border: 0px solid #E1E0D6; 
margin-bottom: 10px ;
text-align: left ; 
}
#block-block-7 {
margin-left: 32px; 
}
.field-label-inline-first {
margin-left: 50px ;
}
.views-label-title, .views-label-teaser, .views-label-nid {
display: none ; 
}
.subpage views-field-title {
font-weight: 20px ;
}
.content {
// float: right ; 
}
.terms-inline {
display: none ; 
} 

#sliders li {
width: 7% ;
}


#logo-floater {
width: 100% ; 
height: 100% ; 
}
.irk { 
height: 100% ; 
} 
.vatb {
vertical-align: text-bottom ;
}
#lteaser {
padding-top: 30px ;
}
.imagefield-field-pagepic {
	-moz-box-shadow: 0 0 3px 1px #B7B5AF ;
	border: 3px solid white ; 
	margin-bottom: 10px ;
	float: left ; 	
}
/* margins changed from 30 to 0 for comm group pages */
.views-row {
	margin-top: 0px ; 
	margin-bottom: 0px ; 
}
.item-list ul, .item-list li { 
	text-decoration: none ; 
}
/* styles added from edits.txt */


#group .breadcrumb {
    background: url("images/stitch.png") repeat-x scroll 0 46px transparent;
    text-align: left;
    width: 100%;
}

#group p {
    line-height: 1.3;
    width: 90%;}

#group .group_socialmedia p {
padding-top:3px;
padding-bottom:3px;}

.group_sidebar .content {
float:none;
}

#group .group_sidebar ul {
    list-style-type: none;
    margin-top: 10px;
    padding-left: 0;
    width: 90%;
}

.group_sidebar {
    float: left;
    max-width: 300px;
    min-width: 240px;
    text-align: left;
    width: 100%;
}

#groupsnear {
    background: url("images/stitch.png") repeat-x scroll 0 46px transparent;
    margin-top: 0;
    padding-right: 5px;
    padding-top: 60px;
}


.block-nice_menus > h2 {
display:none;
}

#container .block ul {
    margin: 0;
    padding: 0;
}


#section_teaser { 
	float: right ; 
	width: 66% ; 
	padding-top: 30px ;
}


/* Styles added for drop down menu and learn more buttons */



.views-field-nid:hover, .views-field-field-viewpath-url:hover {
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.42, rgb(4,137,226)),
	    color-stop(0.71, rgb(7,120,190))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(4,137,226) 42%,
	    rgb(7,120,190) 71%
	);
	background-color:#0777bf;
}

.views-field-nid, .views-field-field-viewpath-url {
	float: right;
	font-size:12px;
	color:white;
	border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	text-align:center;
	font-weight:bold;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.42, rgb(7,120,190)),
	    color-stop(0.71, rgb(4,137,226))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(7,120,190) 42%,
	    rgb(4,137,226) 71%
	);
	background-color:#048be2;
	border:1px solid #0065a6;
	clear: left;
}

.views-field-nid a, .views-field-field-viewpath-url a {
	padding:12px 22px;
	color:white;
	text-decoration:none;
	text-shadow:0 -1px 0px #003B60;
	float:left;
}

#subpage .content p {
	font-size:13px;
	line-height:1.3;
	padding-top:10px;
	padding-bottom:10px;
}

#subpage .content > p {
	padding-top:10px;
	padding-bottom:20px;
}

#subpage .content img {
	border:3px solid white;
	box-shadow:0x 0px 3px rgba(181, 181, 181, 1);
	-moz-box-shadow: 0 0 3px 1px #b7b5af;
	-webkit-box-shadow: 0 0 2px 1px #b7b5af;
	margin-bottom: 10px;
    width: 98%;
}



.views-field-nid a {
    color: white;
    float: left;
    padding: 1px 22px 12px;
    text-decoration: none;
    text-shadow: 0 -1px 0 #003B60;
}

#subpage .content_page p {
	font-size:13px;
	line-height:1.3;
	padding-top:10px;
	padding-bottom:10px;
}

#subpage .content_page > p {
	padding-top:10px;
	padding-bottom:20px;
}

#subpage .content_page .views-field-teaser p {
    font-size: 13px;
    line-height: 1.3;
    padding-bottom: 10px;
    padding-top: 10px;
}

#subpage .content_page img {
	border:3px solid white;
	box-shadow:0x 0px 3px rgba(181, 181, 181, 1);
	-moz-box-shadow: 0 0 3px 1px #b7b5af;
	-webkit-box-shadow: 0 0 2px 1px #b7b5af;
	margin-bottom: 10px;
}

.content_page, .item-list li {
    background: url("images/stitch.png") repeat-x scroll 0 0 transparent;
    float: left;
    list-style: none outside none;
    padding-bottom: 20px;
    padding-top: 25px;
	padding-left: 10px;
    text-align: left;
    width: 86%;
}

.views-field-field-pagepic-fid {
	float:left;
	margin-right: 15px;
}

#subpage .content_page h3 {
    font-size: 32px;
}


#subpage .content_page h3, #forums h3 {
    color: #464646;
    font-family: arial;
    font-weight: bold;
    margin-bottom: 10px;
    max-width: 500px;
    text-shadow: none;
    text-transform: none;
}
#edit-custom-search-types-wrapper { display: none ; }
/* obvsly this one should probably go in template.php */
/* #edit-submit { display: none } */ 
legend { display: none ; }

/* comment-forbidden style should be included on conn_group pages but not other pages */
*  this is something context could do */

.twtr-widget-profile .img.twtr-profile-img { width: auto ; } 
.twtr-widget-profile img.twtr-profile-img { width: auto ; } 
#subpage .content img { width: auto ; } 
.block-spacer { min-height: 50px ; }

nav .block-block-35 { color: #464646 ; }

/** misc **/

.breadcrumb {
    margin-bottom: -20px;
    margin-top: 20px;
    padding-bottom: 0.5em;
    text-align: left;
}

#footer h6 { 
	display: block;
	margin-top: 10px;
}

#subpage #subpage_content h2 img {
	margin-bottom: -8px;
	margin-right: 10px;
}

.node h2 {
	margin-bottom: 10px;
}

.view-groups-by-neighborhood h3 a, .view-educationmaterials-transportatio h3 a {
	font-size: 16px;
	padding-left: 30px;
}

.main .block-views .item-list ul li {
	width: 88%;
}
.main .block-views .item-list ul li.views-row-first {
	background: none;
	padding-top: 20px;
}

#sub_footer h2 {
	color: #FFFFFF;
	font-weight: bold;
	margin-bottom: 20px;
}


.field-field-cg-websitelink .field-item {
	padding-left: 50px;
}

.field-field-cg-websitelink .field-label-inline, .field-field-cg-websitelink  .field-label-inline-first {
	margin-left: 0px;
}

/* views slideshow for frontpage tweaks - revisit and clean up */

.view-slideshow .views_slideshow_singleframe_slide, 
.view-slideshow-learn .views_slideshow_singleframe_slide, 
.view-slideshow-connect .views_slideshow_singleframe_slide, 
.view-slideshow2 .views_slideshow_singleframe_slide {
	width: 940px;
	height: 354px;
	position: relative;
}

.view-slideshow .views-field-field-slide-img-fid, 
.view-slideshow-learn .views-field-field-slide-img-fid, 
.view-slideshow-connect .views-field-field-slide-img-fid, 
.view-slideshow2 .views-field-field-slide-img-fid 
  {
	border: 6px solid #FFFFFF;
    float: left;
    height: 225px;
    margin-top: 55px;
    width: 400px;
}

.view-slideshow .views-field-title,
.view-slideshow-learn .views-field-title,
.view-slideshow-connect .views-field-title,
.view-slideshow2 .views-field-title 
 {
	position: absolute;
	top: 50px;
	left: 460px;
}
.view-slideshow .views-field-body, 
.view-slideshow-learn .views-field-body, 
.view-slideshow-connect .views-field-body, 
.view-slideshow2 .views-field-body 
{
    left: 460px;
    position: absolute;
    top: 120px;
}
.view-slideshow .views-field-field-slide-link-url, 
.view-slideshow-learn .views-field-field-slide-link-url, 
.view-slideshow-connect .views-field-field-slide-link-url, 
.view-slideshow2 .views-field-field-slide-link-url 
{
	position: absolute;
	top: 240px;
	left: 460px;
}
.view-slideshow .views-slideshow-controls-top, 
.view-slideshow-learn .views-slideshow-controls-top, 
.view-slideshow-connect .views-slideshow-controls-top, 
.view-slideshow2 .views-slideshow-controls-top 
 {
	position: absolute;
	top: 10px;
	right: 5px;
}
.view-slideshow .views-slideshow-controls-top .pager-item, 
.view-slideshow-learn .views-slideshow-controls-top .pager-item, 
.view-slideshow-connect .views-slideshow-controls-top .pager-item, 
.view-slideshow2 .views-slideshow-controls-top .pager-item 
{
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.2, rgb(203,211,210)),
	    color-stop(0.6, rgb(222,230,230))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(203,211,210) 20%,
	    rgb(222,230,230) 60%
	);
    float: left;
	margin-right: 2px;
    padding: 0;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #90a09d;
}

.view-slideshow .views-slideshow-controls-top .activeSlide, .view-slideshow .views-slideshow-controls-top .pager-item:hover ,
.view-slideshow-learn .views-slideshow-controls-top .activeSlide, .view-slideshow .views-slideshow-controls-top .pager-item:hover ,
.view-slideshow-connect .views-slideshow-controls-top .activeSlide, .view-slideshow .views-slideshow-controls-top .pager-item:hover ,
.view-slideshow2 .views-slideshow-controls-top .activeSlide, .view-slideshow .views-slideshow-controls-top .pager-item:hover {
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.2, rgb(218,218,218)),
	    color-stop(0.6, rgb(254,254,254))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(218,218,218) 20%,
	    rgb(254,254,254) 60%
	);
}

.view-slideshow .views-slideshow-controls-top .pager-item a, 
.view-slideshow-learn .views-slideshow-controls-top .pager-item a, 
.view-slideshow-connect .views-slideshow-controls-top .pager-item a, 
.view-slideshow2 .views-slideshow-controls-top .pager-item a 
{
    float: left;
    padding: 5px 10px;
    position: relative;
    z-index: 100;
}

#hero nav ul li {
	 float: right;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-border-radius:5px;
	padding:0px;
	border:1px solid #90a09d;

	
}
#signupform input.button {
display: block;
margin-left: 4px; 
padding: 6px; 
position: relative;
top: 8px;
}

.texture3 {
height: 200px;
} 
.addinfospan { 
font-weight: bold;
color: dc4826;
} 

#node-534 .content, #node-535 .content {
	margin-left: 163px;
	margin-right: 159px;
}

.block-search .content #search-block-form .container-inline .custom-search-button {
	display:none;
}