/*[fmt]1C40-1C0C-E*/
#header nav {
    /*+placement:anchor-top-right -2px 38px;*/
    position: absolute;
    right: -2px;
    top: 38px;
    right: 270px;
    top: 37px;
}
.path-node-535 #subpage_content,
.path-node-534 #subpage_content {
    max-width: none;
}
ul.link-categories {
    margin: 0;
    padding: 0;
    width: 600px;
}
ul.link-categories li {
    list-style-type: none !important;
}
ul.link-categories>li {
    clear: left;
    width: auto;
    margin: 0px !important;
    padding: 0px !important;
}
ul.link-categories ul.list-float {
    /*+placement:float-left 0px 0px;*/
    float: left;
    position: relative;
    left: 0px;
    top: 0px;
    padding: 0px !important;
    margin: 6px 0px 6px 13px !important;
    width: 175px;
}
ul.link-categories li a {
    color: #2F5BE1;
}
ul.link-categories li ul.list-float li {
    margin: 0 !important;
    padding: 0 !important;
}
.view-groups-by-neighborhood a.button {
    padding: 5px;
    margin-top: 0;
    background-color: #4E6A84;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
body.path-communityboard #subpage_content {
    float: none;
}
body.path-communityboard ul.menu a {
    font-size: 12px;
    color: #4E6A84;
}
body.path-communityboard #community-forums {
    width: 940px;
}
body.path-communityboard table tbody tr td {
    padding: 4px;
    vertical-align: middle;
}
body.path-communityboard table td .item-list {
    border: 0px solid #000000;
}
body.path-communityboard .pane-menu-menu-neighborhood-forums ul.menu {
    margin: 0px;
    padding: 0 0 0 11px;
}
body.path-communityboard .panel-col-first ul.menu li {
    padding-left: 0;
}
body.path-communityboard table th.views-field-title {
    width: 92px;
}
body.path-communityboard table a {
    color: #2F5BE1;
}
body.path-communityboard .quicktabs_main .quicktabs_tabpage {
    margin-top: 30px;
}
body.path-communityboard .panel-col-last {
    width: 729px;
}
body.path-communityboard .panel-col-first {
    width: 200px !important;
    padding-left: 4px;
}
ul.quicktabs_tabs {
    border-bottom: 5px solid #4E6A84;
    padding-left: 11px;
    padding-bottom: 14px;
    margin-top: 41px;
}
ul.quicktabs_tabs li a {
    margin-right: 16px;
    padding: 7px;
    margin-bottom: 0;
    padding-bottom: 15px;
    padding-top: 12px;
    border-top: 1px solid #7B8A88;
    border-left: 1px solid #7B8A88;
    border-right: 1px solid #7B8A88;
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.2, rgb(255,255,255)), color-stop(0.6, rgb(243,243,243)) );
    background-image: -moz-linear-gradient( center bottom, rgb(255,255,255) 20%, rgb(243,243,243) 60% );
    background-color: #F9F9F9;
    margin-left: 1px;
    margin-right: 1px;
    color: #0776BD;
}
body.path-communityboard .item-list li {
    width: 100%;
    background: none repeat-x;
    list-style: none;
    display: inherit;
    margin: 0;
    padding: 0 0 0 18px;
}
#header nav {
    /*+placement:anchor-top-right -2px 38px;*/
    position: absolute;
    right: -2px;
    top: 38px;
}
body.path-communityboard #subpage_content {
    float: none;
}
body.path-communityboard ul.menu a {
    font-size: 12px;
    color: #4E6A84;
}
body.path-communityboard #community-forums {
    width: 940px;
}
body.path-communityboard table .views-field-tid {
    width: 0px;
}
#community-forums .panel-col-top p {
    margin: 0;
    padding: 0;
}
body.path-communityboard table tbody tr td {
    padding: 4px;
    vertical-align: middle;
}
body.path-communityboard table .views-field-comment-count {
    text-align: center;
    /*[empty]font-size:;*/
}
body.path-communityboard table .views-field-title {
    width: 199px;
}
body.path-communityboard table tr.odd {
    background-color: #F0EFE9;
}
body.path-communityboard table tr.even {
    background-color: transparent;
}
body.path-communityboard table td .item-list {
    border: 0px solid #000000;
    min-width: 100px;
}
body.path-communityboard .pane-menu-menu-neighborhood-forums ul.menu {
    margin: 0px;
    padding: 0 0 0 11px;
}
body.path-communityboard .panel-col-first ul.menu li {
    padding-left: 0;
}
body.path-communityboard table th.views-field-title {
    width: 240px;
}
body.path-communityboard table a {
    color: #2F5BE1;
}
body.path-communityboard table {
    width: 720px !important;
}
body.path-communityboard .quicktabs_main .quicktabs_tabpage {
    margin-top: 30px;
}
body.path-communityboard .panel-col-last {
    width: 729px;
}
body.path-communityboard .panel-col-first {
    width: 200px !important;
    padding-left: 4px;
}
ul.quicktabs_tabs {
    border-bottom: 5px solid #4E6A84;
    padding-left: 11px;
    padding-bottom: 14px;
    margin-top: 41px;
}
ul.quicktabs_tabs li a {
    margin-right: 16px;
    padding: 7px;
    margin-bottom: 0;
    padding-bottom: 15px;
    padding-top: 12px;
    border-top: 1px solid #7B8A88;
    border-left: 1px solid #7B8A88;
    border-right: 1px solid #7B8A88;
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.2, rgb(255,255,255)), color-stop(0.6, rgb(243,243,243)) );
    background-image: -moz-linear-gradient( center bottom, rgb(255,255,255) 20%, rgb(243,243,243) 60% );
    background-color: #F9F9F9;
    margin-left: 1px;
    margin-right: 1px;
    color: #0776BD;
}
body.path-communityboard .item-list li {
    width: 100%;
    background: none repeat-x;
    list-style: none;
    display: inherit;
    margin: 0;
    padding: 0;
}
